.contact {
  min-height: 95vh;
  position: relative;
}

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

//text and icon styling
.contactText {
  width: 40%;
}

.contactText h3 {
  font-size: 3vmax;
}

.contactInfo {
  font-size: 1.8vmax;
}

.fa-envelope,
.fa-phone,
.fa-map-marker-alt,
.fab {
  margin-right: 17px;
  color: $primaryColor;
  font-size: 1.8vmax;
}

.backgroundText {
  font-size: 13vmax;
  color: rgba(239, 199, 194, 0.3);
  position: absolute;
  z-index: -10;
  margin: 0;
  bottom: 0;
}

.contactInfo i:hover,
.socialMedia i:hover {
  color: $sixthColor;
}

.socialMedia i {
  transform: all 0.7s;
}

.socialMedia i:hover {
  transform: scale(1.2);
}

//form styling
.formContainer {
  width: 50%;
  padding: 50px 0;
  background-color: $fourthColor;
  transition: all 0.5s;
}

form {
  width: 100%;
  margin: 0 auto;
  min-height: 400px;
  padding: 35px;
  border: 1.5px solid $thirdColor;
  position: relative;
  right: 50px;
}

input[type="email"],
input[type="text"],
textarea {
  display: inline-block;
  width: 100%;
  background: transparent;
  outline: none;
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 1px solid $thirdColor;
  background: transparent;
  margin-bottom: 10px;
  color: $thirdColor;
}

input::placeholder,
textarea::placeholder {
  color: $thirdColor;
}

.submitForm {
  display: block;
  background-color: transparent;
  color: $thirdColor;
  text-transform: uppercase;
  border: none;
  padding: 15px 10px;
  font-size: 13px;
  margin: 20px 0;
  font-weight: 700;
  width: 100px;
  border: 1px solid $thirdColor;
  transition: all 0.5s;
}

.submitForm:hover {
  background-color: $primaryColor;
  color: $seventhColor;
  border: none;
}

.formContainer:hover {
  background-color: rgba(239, 199, 194, 0.2);
}

.formContainer:hover .backgroundText {
  color: $fourthColor;
}

@media (max-width: 1180px) {
  .contactContainer {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .contactContainer {
    flex-direction: column;
  }

  .contactText {
    width: 100%;
    text-align: center;
  }

  .formContainer {
    width: 100%;
  }

  .backgroundText {
    display: none;
  }

  .contactInfo,
  .socialMedia i,
  .contactText i {
    font-size: 3vmax;
  }

  .contactText i {
    padding: 10px 0;
  }

  .contactText h3 {
    font-size: 4vmax;
  }

  form {
    width: 80%;
    right: 0;
  }

  input[type="email"],
  input[type="text"],
  textarea,
  input::placeholder {
    text-align: center;
    font-size: 3vmax;
  }

  .submitForm {
    margin: 20px auto;
    font-size: 3vmax;
  }
}

@media (max-width: 480px) {
  input[type="email"],
  input[type="text"],
  textarea,
  input::placeholder {
    font-size: 2vmax;
  }

  .submitForm {
    font-size: 2vmax;
  }
}
