.contact {

  position: relative;

}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  
}

//text and icon styling
.contactText {
  
  text-align: center;
}

.contactText h3 {
  font-size: 3vmax;
  margin: 10vmax auto 8vmax;
}

.contactInfo {
  font-size: 1.8vmax;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//social media






//form styling
.formContainer {
  width: 40%;
  // padding: 50px 0;
  background-color: $fourthColor;
  transition: all 0.5s;
  margin-bottom: 5vmax;
}

form {
  width: 100%;
  margin: 0 auto;
  min-height: 400px;
  padding: 60px;
  
  // border: 1.5px solid $thirdColor;
  // position: relative;
  // right: 50px;
}

input[type="email"],
input[type="text"],
textarea {
  display: inline-block;
  width: 100%;
  background: transparent;
  outline: none;
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 1px solid $thirdColor;
  background: transparent;
  margin-bottom: 10px;
  color: $thirdColor;
  text-align: center;
}

input::placeholder,
textarea::placeholder {
  color: black;
}

.submitForm {
  display: block;
  background-color: transparent;
  color: $thirdColor;
  text-transform: uppercase;
  border: none;
  padding: 15px 10px;
  font-size: 13px;
  margin: 20px auto;
  font-weight: 700;
  width: 100px;
  border: 1px solid $thirdColor;
  transition: all 0.5s;
}

.submitForm:hover {
  background-color: $primaryColor;
  color: white;
  border: none;
}

// .formContainer:hover {
//   background-color: rgba(239, 199, 194, 0.2);
// }

.formContainer:hover .backgroundText {
  color: $fourthColor;
}

// @media (max-width: 1180px) {
//   .contactContainer {
//     padding: 40px;
//   }
// }

@media (max-width: 768px) {
  .contactContainer {
    flex-direction: column;
  }

  .contactText {
    width: 100%;
    text-align: center;
  }

   .formContainer {
    width: 90%;
  }

  .backgroundText {
    display: none;
  }

  .contactInfo,
  .socialMedia i,
  .contactText i {
    font-size: 5vmax;
  }

  .contactText i {
    padding: 10px 0;
  }

  .contactText h3 {
    font-size: 4vmax;
  }

  // form {
  //   width: 80%;
  //   right: 0;
  // }

  input[type="email"],
  input[type="text"],
  textarea,
  input::placeholder {
    text-align: center;
    font-size: 3vmax;
  }

  .submitForm {
    margin: 20px auto;
    font-size: 3vmax;
  }
}

@media (max-width: 480px) {
  input[type="email"],
  input[type="text"],
  textarea,
  input::placeholder {
    font-size: 2vmax;
  }

  .submitForm {
    font-size: 2vmax;
  }
}
