//restaurant app header

.hilshaHeader {
    background-image: url("assets/hilshaCoverPhoto.jpg");
    min-height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 90%;
    margin: 100px auto 0;
   
}


.hilshaProjectTitle {
    color: white;
    font-size: 63px;
   
}

.hilshaProjectSubtitle {
    color: white;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    line-height: 160%;
    font-size: 21px;
    font-weight: lighter;
    
    
}