//hilsha section style

.hilshaSections {
    width: 90%;
    margin: 100px auto;
   
}

//section wrapper

#hilshaWrapper {
    max-width: 700px;
    margin: 0 auto;
}

//section title-all h3

#hilshaSectionTitle {
    font-size: 36px;
}

//section text - usually p

.hilshaSectionText {

    font-size: 18px;
    line-height: 180%;
    
}





// .hilshaSections p{

//     font-size: 18px;
//     line-height: 2;
// }




// role, duration, tool, type------------------------------------------

#hilshaBackgroundsPartTwo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px auto 60px;

}

#hilshaBackgroundsPartTwo div {
    // border: 1px solid red;
    margin-bottom: 50px;
    width: 40%;
    
}

// sub section title - all h4

.hilshaSubsectionTitle {
    font-size: 18px;
    
}

#hilshaBackgroundsPartTwo div p {

    font-size: 16px;
    line-height: 170%;
    
}

// see protytpe button ---------------------------------------------------------------

.seePrototypeHilsha {

    background-color: #DB4F34;
    color: white;
    width: 210px;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    

}