//section wrapper

.hilshaWrapper {
    max-width: 900px;
    margin: 0 auto;
}

//hilsha section style

.hilshaSections {
    width: 90%;
    margin: 100px auto;
}

.margin {
     border: 0.5px solid rgba(220, 220, 220, 0.9);
     max-width: 900px;
     margin: auto;

}


//section title-all h3

.hilshaSectionTitle {
    font-size: 36px;
    margin-top: 0;
}

//section text - usually p

.hilshaSectionText {

    font-size: 18px;
    line-height: 180%;
    
}


// role, duration, tool, type------------------------------------------

#hilshaBackgroundsPartTwo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px auto 60px;

}

#hilshaBackgroundsPartTwo div {
    // border: 1px solid red;
    margin-bottom: 50px;
    width: 40%;
    
}

// sub section title - all h4

.hilshaSubsectionTitle {
    font-size: 18px;
    
}

#hilshaBackgroundsPartTwo div p {

    font-size: 16px;
    line-height: 170%;
  
}

// sub section title - all h4

.hilshaSubsectionTitle {
    font-size: 18px;
    
}

#hilshaBackgroundsPartTwo div p {

    font-size: 16px;
    line-height: 170%;
  
}

// see protytpe button---------------------------------------------------------

.seePrototypeHilsha {

    background-color: #DB4F34;
    color: white;
    width: 210px;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;

}


.hilshaDesignThinkingProcessImage {
    margin-top: 100px;
}

//image styling

.hilshaPersonaImage, .hilshaEmpathyMapImage, .hilshaJourneyMapImage, .hilshaValuePropositionImage {
    border: 1px solid rgb(220, 220, 220);
    margin-top: 100px;
}

.hilshaValuePropositionImage {
    margin-top: 50px;

}

.hilshaFinalPrototypeImage {
    width: 30%;
    margin: 30px auto;
}



.hilshaWireframeImageContainer {
    display: flex;
    justify-content: space-between;
     
}

.hilshaWireframeImage {
   
    width: 49%;
    margin-bottom: 60px;

}

.hilshaLoFidelityPrototypeImage {
    margin-top: 20px;
    transform: all 0.7s;
    position: relative;
    
}

.overlayUxHilsha {

  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  transition: all 0.7s;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
   opacity: 0;
}


.hilshaLoFidelityPrototypeImage:hover .overlayUxHilsha {

    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    color: white;

}



.hilshaEmphasis {
    font-style: italic;
}

.hilshaList li {
    line-height: 180%;
    margin-bottom: 20px;

}

.hilshaList{
    list-style: none;
}

.hilshaDefine {
    // font-style: italic;
    line-height: 180%;
    // font-weight: light;
    padding-left: 40px;
    
}