//hilsha section style

.hilshaSections {
    width: 90%;
    margin: 100px auto;
   
    
    
   
}

.margin {
     border: 0.5px solid rgba(220, 220, 220, 0.9);
     max-width: 900px;
     margin: auto;

}

//section wrapper

.hilshaWrapper {
    max-width: 900px;
    margin: 0 auto;
    // border-bottom: 1px solid gray;
    // padding-bottom: 100px;
}

//section title-all h3

.hilshaSectionTitle {
    font-size: 36px;
    margin-top: 0;
}

//section text - usually p

.hilshaSectionText {

    font-size: 18px;
    line-height: 180%;
    
}





// .hilshaSections p{

//     font-size: 18px;
//     line-height: 2;
// }




// role, duration, tool, type------------------------------------------

#hilshaBackgroundsPartTwo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px auto 60px;

}

#hilshaBackgroundsPartTwo div {
    // border: 1px solid red;
    margin-bottom: 50px;
    width: 40%;
    
}

// sub section title - all h4

.hilshaSubsectionTitle {
    font-size: 18px;
    
}

#hilshaBackgroundsPartTwo div p {

    font-size: 16px;
    line-height: 170%;
    
}

// see protytpe button ---------------------------------------------------------------

.seePrototypeHilsha {

    background-color: #DB4F34;
    color: white;
    width: 210px;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    

}


.designThinkingProcessImage {
    margin-top: 100px;
}

.personaImage {
    border: 1px solid rgb(220, 220, 220);
    margin-top: 100px;
}