.mySkillsSection .wrapper {
  background: #02aab0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #02aab0,
    #00cdac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #02aab0, #00cdac);
  position: relative;
  bottom: -50px;
  color: white;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.4);
}

.mySkillsSection h3 {
  text-align: center;
  font-size: 3vmax;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 0 50px;
}

.mySkills {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mySkills li {
  text-align: center;
  width: 30%;
  padding: 20px 10px;
  font-size: 2vmax;
}

.mySkills li i {
  color: #e2fcff;
  font-size: 5vmax;
  transition: all 0.7s;
  margin: 0;
}

.iconContainer {
  transition: all 0.7s;
}

.mySkills li:hover .iconContainer {
  transform: scale(1.5);
}

//responsive design starts------------------------

@media (max-width: 768px) {
  .mySkillsSection h3 {
    font-size: 4vmax;
  }

  .mySkills li {
    font-size: 3vmax;
  }
}
