#work {
  background-color: #f7f7f7;
  padding: 80px 0;
}

//ux case studies------------------------------------------

.projectsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10vmax;
  transition: all 0.7s;
}


//title
.titleuXCaseStudies {
  text-align: center;
  font-size: 3vmax;
  margin-bottom: 9vmax;
}

.project {
  width: 49%;
  // height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.7s;
  
}

.project:hover {
  box-shadow: 5px 10px 18px #888888;
  width: 50%;
  
}

.name {
  text-align: center;
  color: white;
  font-size: 2.5vmax;
  margin: 6vmax auto 4vmax;
}

.uxDetails {
  text-align: center;
  font-size: 1.5vmax;
  padding: 0 20px;
  color: white;
  
}

.year {
  transition:all 0.7s;
  text-align: center;
  color: white;
  font-size: 1.5vmax;
  padding: 0 20px;
  margin: 2vmax auto;
  opacity: 0;
}

// psd conversions---------------------------------------------------
#psdConversion {
  padding: 80px 0;
  background-color: #f7f7f7;
}

//title
.titlePsdConversions {
  text-align: center;
  font-size: 3vmax;
  margin-bottom: 9vmax;
}

.projectsContainer.psd .project {

  margin-bottom: 2vmax;
}

.project.uxOne,.project.uxTwo,  .project.psdOne, .project.psdTwo, .project.psdThree, .project.psdFour {
  position: relative;
  
}

 .overlayUx {

  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  transition: all 0.7s;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.overlayPsd {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
//   background: -webkit-linear-gradient(to left,#000000,#2f3537);
// background: linear-gradient(to left,#000000,#2f3537); 



  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  transition: all 0.7s;
  display:flex;
  justify-content: center;
  align-items: center;
}

.overlayUx:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.overlayUx:hover .year {
  opacity: 1;
}

.overlayPsd:hover {
  opacity: 1;

}

.stack {
  text-align: center;
  color: white;
  font-size: 1.5vmax;
  margin: 5vmax auto;
  width: 80%;
  line-height: 40px;
}


//responsive design----------------------------------------------------

@media (max-width: 768px) {
  
  .project {
  width: 90%;
  margin: 10vh auto;
  }

  .project:hover {
  box-shadow: 5px 10px 18px #888888;
  width: 90%;
  
}

.stack {
  font-size: 2.5vmax;
}

}
