#myRecentWorks {
  padding: 80px 0;
  background-color: #f7f7f7;
}

//title

.titleRecentWorks {
  text-align: center;
  font-family: $primaryFont;
  font-size: 3vmax;
  margin-bottom: 40px;
}

//project list

.projectList {
  width: 80%;
  list-style: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 5vh 0 12vh;
}

.projectList li {
  width: 33.33%;
  font-size: 1.9vmax;
  padding: 0;

  text-align: center;
}

//project details

.projectDetails {
  display: flex;
  flex-wrap: wrap;
}

// .projectList li {
//   text-transform: uppercase;
// }

.projectDetailsOne,
.projectDetailsTwo {
  width: 100%;
  text-align: center;
  font-size: 1.8vmax;
}

// .projectDetailsOne p,
// .projectDetailsTwo p {
//   margin: 0;
// }

.projectDetailsTwo p {
  margin-bottom: 30px;
}

.projectDetailsThree {
  width: 100%;
}

.liveButtonContainer {
  width: 50%;
  text-align: right;
  padding-right: 10px;
}

.liveButtonContainer button,
.gitButtonContainer button {
  width: 20vmax;
  background-color: $primaryColor;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase;
}

.liveButtonContainer button a,
.gitButtonContainer button a {
  text-decoration: none;
  color: $fifthColor;
}

.gitButtonContainer {
  padding-left: 10px;
  width: 50%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.projectImageContainer {
  width: 80%;
  margin: 0 auto;
}

.activeStatus {
  color: $primaryColor;
  font-size: 40px;
}

@media (max-width: 768px) {
  .projectDetails p,
  .projectList li {
    font-size: 3vmax;
  }

  .liveButtonContainer button,
  .gitButtonContainer button {
    font-size: 2.7vmax;
    padding: 15px 20px;
  }
}
