#scribbles {
  padding: 80px 0;
  background-color: #f7f7f7;
}

.titleScribbles {
  text-align: center;
  font-size: 3vmax;
  margin-bottom: 40px;
}

.scribbles {
  width:80%;
  margin:0 auto;
}

.scribbleText {
  text-align: center;
  font-size: 1.4rem;
}

.here {
  text-decoration: underline;
}