//font
$primaryFont: "EB Garamond", serif;
$secondaryFont: "Nunito", sans-serif;

//color
$primaryColor: #02aab0;
$secondaryColor: #f9e0ec;
$thirdColor: #4b4d5d;
$fourthColor: rgba(238, 244, 241, 1);
$fifthColor: white;
$sixthColor: #00cdac;
$seventhColor: gold;
