// font-family: 'Roboto', ;
// font-family: 'Open Sans', ;
// font-family: 'Montserrat', ;

$primaryFont: 'EB Garamond', serif;
$secondaryFont: 'Nunito', sans-serif;

//$primaryColor: #59bcb8;
$primaryColor: #69c8c9;
$secondaryColor: #e4b7b2;



//rgba(184, 189, 177, 0.4);






    


