// font-family: 'Roboto', ;
// font-family: 'Open Sans', ;
// font-family: 'Montserrat', ;

$primaryFont: "EB Garamond", serif;
$secondaryFont: "Nunito", sans-serif;

//$primaryColor: #59bcb8;
//rgba(72, 196, 212, 0.3);
//color: #00d9e1; canva

//$primaryColor: #69c8c9;

$primaryColor: #02aab0;
//$secondaryColor: #e4b7b2;
$secondaryColor: #f9e0ec;
$thirdColor: #4b4d5d;
$fourthColor: rgba(238, 244, 241, 1);
$fifthColor: white;

//$primaryColor: rgb(0, 206, 209);

//0,206,209

//rgba(184, 189, 177, 0.4);
